terratowns_endpoint="https://terratowns.cloud/api"

user_uuid = sensitive

#bucket_name = random

aws = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/aws"
    content_version = 1
}

azure = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/azure"
    content_version = 2
}

gcp = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/gcp"
    content_version = 3
}

oci = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/oci"
    content_version = 4
}

token = sensitive